{% extends 'base.html' %}

{% block content %}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Genre</th>
            <th>Stock</th>
            <th>Daily Rate</th>
        </tr>
    </thead>

    <tbody>
        {% for item in data %}
        <tr>
            <td>
                <a href="{% url 'movies:detail' item.id %} ">{{item.title}}</a>
            </td>
            <td>{{item.genre}}</td>
            <td>{{item.number_in_stock}}</td>
            <td>{{item.daily_rate}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}